body {
    font-family: Inter, Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.block-wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.block-link {
    font-size: 14px;
    color: #000;
    text-decoration: none;
    transition: opacity 0.5s;
}

@media screen and (max-width: 1200px) {
    .block-wrapper {
        padding-right: 70px;
        padding-left: 70px;
    }
}

@media screen and (max-width: 768px) {
    .block-wrapper {
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media screen and (max-width: 500px) {
    .block-wrapper {
        padding-right: 18px;
        padding-left: 18px;
    }
    .block-link {
        font-size: 12px;
    }
}
