.header {
    background-color: #F3C1F8;
    padding-top: 18px;
    padding-bottom: 18px;
}

.header--logged {
    background-color: transparent;
}

.header__logo {
    transition: opacity 0.5s;
}

.header__logo:hover {
    opacity: 0.5;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__link {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin-right: 30px;
    transition: opacity 0.5s;
}

.header__link:hover {
    opacity: 0.5;
}

.header__button {
    border-radius: 3px;
    background: #000;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding: 8px 20px;
    transition: opacity 0.5s;
}

.header__button:hover {
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .header__inner {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width: 500px) {
    .header__inner {
        padding-right: 14px;
        padding-left: 14px;
    }
}
