.footer {
    padding-top: 79px;
}

.footer__text {
    margin-top: 0;
    margin-bottom: 20px;
    color: #A0A0A0;
    text-align: center;
    font-size: 13px;
}

.footer__bottom {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #E8E8E8;
    font-size: 13px;
}

.footer__date {
    margin: 0;
}

.footer__link {
    text-decoration: none;
    color: #000;
    transition: 0.5s opacity;
}

.footer__link:hover {
    opacity: 0.5;
}

.footer__links {
    display: flex;
    padding: 0;
    margin: 0 0 0 auto;
    list-style-type: none;
    gap: 12px 20px;
}

@media screen and (max-width: 500px) {
    .footer__text {
        font-size: 12px;
    }
    .footer__bottom {
        padding-top: 30px;
        flex-direction: column;
        font-size: 12px;
    }
    .footer__date {
        order: 2;
        color: #A0A0A0;
    }
    .footer__links {
        order: 1;
        flex-direction: column;
        margin-left: 0;
        align-items: center;
        margin-bottom: 20px;
    }
}
