.movies__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px 24px;
    padding-bottom: 80px;
}

.movies {
    padding-top: 70px;
    padding-bottom: 80px;
}

.movies__more-button {
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    cursor: pointer;
    padding: 11px 10px 9px 10px;
    background-color: transparent;
    min-width: 320px;
    transition: opacity 0.5s;
    display: block;
    margin: 0 auto;
}

.movies__more-button:hover {
    opacity: 0.5;
}

@media screen and (max-width: 1201px) {
    .movies__list {
        justify-content: center;
    }
}

@media screen and (max-width: 1024px) {
    .movies__list {
        justify-content: space-between;
    }
}


@media screen and (max-width: 768px) {
    .movies {
        padding-right: 30px;
        padding-left: 30px;
    }
    .movies__list {
        gap: 36px 30px;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .movies {
        padding-top: 40px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .movies__list {
        justify-content: center;
        gap: 16px;
    }
    .movies__more-button {
        min-width: 240px;
    }
}

